# Discussion 4

### Due Friday April 24, 11:59:59PM

---

In [19]:
# import libraries
import pandas as pd
import numpy as np
import os

# helper function for the notebook in util.py
# take a look at the file!
from util import multi_table
import disc04 as d

# Review: Combining DataFrames 

#### `merge()`

* Used to combine two (or more) dataframes on the basis of **values of common columns** (indices can also be used, use `left_index=True` and/or `right_index=True`).
    * If we are joining columns on columns, the DataFrame indexes will be ignored. 
    * If we are joining indexes on indexes or indexes on a column or columns, the index will be passed on.

In [ ]:
# left dataframe
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Aaron', 'Marina', 'Justin', 'Janine', 'Ilya'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})

# right dataframe
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Enrique', 'Parker', 'Erik', 'Allston', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

multi_table([left, right])

* **`on`**: column or index level names to join on. 
    * These must be found in both DataFrames. 
    * If `on` is `None` and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

In [ ]:
# merge left and right tables on 'id' column
on_id = pd.merge(left,right,on='id')

# how many rows, how many columns?
multi_table([left, right, on_id])

In [ ]:
# merge left and right tables on 'id' and 'subject_id' columns
on_id_subject = pd.merge(left,right,on=['id', 'subject_id'])

# how many rows, how many columns, what are the indices?
multi_table([left, right, on_id_subject])

* **`how`**: specifies how to determine which keys are to be included in the resulting table. 
    * If a key (column name) combination does not appear in either the left or the right tables, the values in the joined table will be `np.NaN`.
    * Defaults to `inner`, joining will be performed on index.

In [ ]:
data_a = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Manny', 'Will', 'Hunter', 'Ian', 'Eric'], 
        'last_name': ['Machado', 'Myers', 'Renfroe', 'Kinsler', 'Hosmer']}
df_a = pd.DataFrame(data_a, columns = ['subject_id', 'first_name', 'last_name'])

data_b = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Cody', 'Justin', 'Corey', 'Clayton', 'Kenley'], 
        'last_name': ['Bellinger', 'Turner', 'Seager', 'Kershaw', 'Jansen']}
df_b = pd.DataFrame(data_b, columns = ['subject_id', 'first_name', 'last_name'])

multi_table([df_a, df_b])

| Merge Method  | Description                  |
| :-------      | :---------------------------:| 
| `left`        | Use keys from left object    | 
| `right`       | Use keys from right object   | 
| `outer`       | Use union of keys            |
| `inner`       | Use intersection of keys     |

In [ ]:
# based on the output below, what 'how' argument was passed into pd.merge?
how_list = ['outer', 'inner', 'right', 'left']

merge_method = np.random.choice(how_list)

pd.merge(df_a, df_b, on='subject_id', how=merge_method)

In [ ]:
# let's check!
merge_method

#### `concat()`

* Used to append one (or more) dataframes one below the other (or sideways, depending on whether the axis option is set to 0 or 1).
    * Useful if we have two or more data sets containing the same columns but different rows of data.
    * We can also the columns from one `Dataframe` to those of another `Dataframe`.

In [ ]:
# add 'left' below 'right'
pd.concat([right, left])

In [ ]:
# if you want to keep track of the names dataframes after concat, use 'keys'
pd.concat([right, left], keys=['right', 'left'])

In [ ]:
# add 'left' to the side of 'right'
pd.concat([right, left], axis=1)

#### `join()`

* Used to merge two dataframes on the basis of the index; instead of using `merge()` with the option `left_index=True` we can use `join()`.
    * Join operation honors the object on which it is called: `a.join(b)` $ \neq $ `b.join(a)`.

<img src="join_types.jpg">

1. **Inner Join** – default behavior, only keep rows where the merge “on” value exists in both the left and right dataframes.
2. **Left Outer** – keep every row in the left dataframe.
    * Where there are missing values of the “on” variable in the right dataframe, add `np.NaN` values in the result.
3. **Right Join** – keep every row in the right dataframe. 
    * Where there are missing values of the “on” variable in the left column, add `np.NaN` values in the result.
4. **Outer Join** – returns all the rows from the left dataframe, all the rows from the right dataframe, and matches up rows where possible, with `NaNs` elsewhere.

We'll start with a simple example:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'val': [1, 2]}).set_index('key')
right = pd.DataFrame({'key': ['foo', 'bar'], 'val': [4, 5]}).set_index('key')

joined = left.join(right, lsuffix='_l', rsuffix='_r')

multi_table([left, right, joined])

Now let's try something a bit more complex:

In [ ]:
df1_data = {
    'Year' : [2014, 2014, 2014, 2014, 2014],
    'Week' : ['A', 'B', 'B', 'C', 'D'],
    'Color' : ['Red', 'Red', 'Black', 'Red', 'Green'],
    'Val' : [50, 60, 70, 10, 20]
}

df1 = pd.DataFrame(df1_data).set_index('Week')

df2_data = {
    'Year' : [2014, 2014, 2014, 2014, 2014],
    'Week' : ['A', 'B', 'C', 'C', 'D'],
    'Color' : ['Black', 'Black', 'Green', 'Red', 'Red'],
    'Score' : [30, 100, 50, 20, 40]
}

df2 = pd.DataFrame(df2_data).set_index('Week')

multi_table([df1, df2])

In [ ]:
# how many rows, how many columns?
df1.join(df2, lsuffix='_l', rsuffix = '_r')

In [ ]:
# will this be any different?
df2.join(df1, lsuffix='_l', rsuffix = '_r')

---

## Practice Problems

**Question 1**

You are given two seperate dataframes: `mlb_2017` and `mlb_2018`. Both dataframes contain statistics for the 2017 and 2018 baseball seasons respectively. Your job is two combine these two dataframes into one using the following guidelines:

* The dataframe you return should be indexed by team name (`Tm`).
* The dataframe you return should include all columns from both `mlb_2017` and `mlb_2018`.
* Use the suffixes `_2017` and `_2018` to differentiate between statistics from both seasons.

Create a function `combined_seasons` that returns, as a tuple, the following:

* The combined dataframe described above.
* The team with most homeruns (`HR`) bewteen the 2017 and 2018 seasons combined.

In [5]:
# read in the following .txt files
mlb_2017 = pd.read_csv(os.path.join('data','mlb_2017.txt'))
mlb_2018 = pd.read_csv(os.path.join('data','mlb_2018.txt'))

multi_table([mlb_2017.head(), mlb_2018.head()])

In [43]:
result = d.combined_seasons(mlb_2017, mlb_2018)
lst = [result['HR_2017'].max(),result['HR_2018'].max()]
Max = max(lst)
year = 2017+lst.index(Max)
years = str(year)
team = result[result['HR_'+str(year)]==Max].index.values
team

array(['NYY'], dtype=object)

**Question 2**

Using the same two dataframes, `mlb_2017` and `mlb_2018`, create a function `seasonal_average` that combines them and takes the mean of each column for each team. 

* The dataframe you return should be indexed by team name (`Tm`).
* Each column should contain the average value between the *2017* and *2018* seasons for the given statistic for each team.
    * For example, the `HR` column should contain the average value for `HR` for each team between the *2017* and *2018* seasons.

In [17]:
table = pd.concat([mlb_2017,mlb_2018])
table.groupby('Tm').mean()

,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
Tm,,,,,,,,,,,,,,,,,,,,,
ARI,47.0,28.75,4.645,162.0,6190.5,5492.5,752.5,1344.0,286.5,44.5,...,0.4210,0.7405,89.5,2313.5,108.0,53.0,38.5,36.0,40.0,1102.0
ATL,53.5,28.00,4.605,162.0,6233.5,5583.0,745.5,1450.0,301.5,27.5,...,0.4145,0.7400,95.5,2316.5,118.0,66.0,54.0,37.5,55.0,1135.0
BAL,53.0,28.50,4.215,162.0,6087.0,5578.5,682.5,1393.0,255.5,13.5,...,0.4130,0.7180,95.0,2305.5,135.0,53.5,11.5,36.0,15.5,1034.0
BOS,46.5,27.50,5.130,162.0,6320.0,5646.0,830.5,1485.0,328.5,25.0,...,0.4300,0.7640,102.0,2427.5,135.5,54.0,8.0,42.0,43.0,1129.0
CHC,48.5,27.15,4.870,162.5,6326.0,5560.0,791.5,1427.5,280.0,31.5,...,0.4235,0.7595,97.5,2355.5,120.5,80.0,44.0,39.0,60.5,1185.5
CHW,51.0,26.60,4.205,162.0,6065.0,5518.0,681.0,1372.0,257.5,38.5,...,0.4090,0.7170,94.5,2258.5,111.5,71.0,29.5,32.5,17.5,1052.5
CIN,50.0,27.15,4.475,162.0,6226.5,5508.0,724.5,1397.0,250.0,31.5,...,0.4170,0.7450,96.0,2296.5,122.0,68.5,49.5,38.5,38.0,1157.0
CLE,45.0,28.70,5.050,162.0,6267.0,5553.0,818.0,1448.0,315.0,24.0,...,0.4415,0.7770,104.5,2453.0,111.5,65.0,24.0,44.5,31.0,1152.5
COL,41.0,28.50,4.940,162.5,6189.5,5537.5,802.0,1464.0,286.5,40.0,...,0.4395,0.7690,89.5,2433.5,128.5,47.5,52.0,39.0,42.0,1077.5
DET,49.0,28.75,4.215,162.0,6089.5,5525.0,682.5,1380.5,286.5,35.0,...,0.4020,0.7140,91.0,2220.0,119.0,52.0,13.0,33.5,19.5,1087.5
HOU,43.5,28.50,5.225,162.0,6208.5,5532.0,846.5,1485.5,312.0,19.0,...,0.4515,0.7885,115.0,2500.0,147.5,65.5,12.5,53.0,23.0,1073.0
KCR,49.0,28.75,4.135,162.0,6045.0,5520.5,670.0,1393.0,271.5,26.5,...,0.4060,0.7140,92.0,2239.5,141.5,56.0,20.5,38.5,16.0,1034.0
LAA,57.5,29.80,4.415,162.0,6090.5,5443.5,715.5,1318.5,250.0,18.5,...,0.4050,0.7190,95.0,2205.5,126.0,71.5,12.0,42.5,34.0,1052.0
LAD,52.0,28.00,4.840,162.5,6274.5,5490.0,787.0,1370.5,304.0,26.5,...,0.4395,0.7725,106.5,2411.5,119.0,62.5,35.0,38.5,44.0,1154.5
MIA,47.0,27.95,4.230,161.5,6165.5,5545.0,683.5,1400.0,246.5,27.5,...,0.3940,0.7100,96.5,2184.5,119.0,70.0,41.0,36.0,37.0,1126.5
MIL,51.5,28.10,4.575,162.5,6172.5,5504.5,743.0,1380.5,259.5,23.0,...,0.4265,0.7490,95.5,2349.0,122.0,55.5,35.5,33.5,33.0,1097.0
MIN,53.0,27.60,4.795,162.0,6207.5,5541.5,776.5,1412.0,302.0,26.5,...,0.4195,0.7455,99.5,2325.0,97.0,41.5,22.5,38.5,25.5,1117.0
NYM,54.0,28.55,4.355,162.0,6173.0,5489.0,705.5,1330.5,275.5,31.0,...,0.4115,0.7280,98.5,2259.0,117.0,65.0,32.0,39.5,33.5,1101.5
NYY,50.0,27.90,5.275,162.0,6312.5,5554.5,854.5,1418.5,267.5,23.0,...,0.4490,0.7830,107.0,2494.0,113.0,63.0,14.0,57.5,21.5,1142.0
OAK,53.5,28.35,4.790,162.0,6190.5,5521.5,776.0,1375.5,313.5,17.5,...,0.4375,0.7595,107.0,2415.5,132.5,59.5,9.5,42.0,16.5,1080.0
PHI,49.5,26.65,4.220,162.0,6134.5,5479.5,683.5,1326.5,264.0,33.0,...,0.4010,0.7150,89.0,2196.5,115.0,55.5,26.5,34.0,29.0,1099.5
PIT,47.5,28.00,4.210,161.5,6101.0,5452.5,680.0,1356.0,269.5,37.0,...,0.3965,0.7145,92.0,2161.5,120.5,73.5,36.5,40.0,38.5,1100.0
SDP,50.5,26.50,3.770,162.0,6006.5,5421.0,610.5,1270.0,238.5,30.5,...,0.3865,0.6845,85.0,2096.0,110.5,42.0,43.5,34.5,24.0,1032.5
SEA,57.0,29.65,4.405,162.0,6126.5,5532.0,713.5,1419.0,268.5,24.5,...,0.4160,0.7355,102.5,2300.5,129.5,74.0,21.5,38.0,24.0,1084.0
SFG,48.5,29.65,3.830,162.0,6125.0,5546.0,621.0,1353.0,272.5,29.0,...,0.3740,0.6780,82.5,2075.0,124.5,42.5,32.0,47.0,38.5,1097.0
STL,48.5,28.00,4.695,162.0,6209.5,5484.0,760.0,1385.5,266.0,18.5,...,0.4175,0.7450,99.0,2290.0,115.5,72.5,46.5,46.0,38.0,1109.5
TBR,53.5,27.70,4.350,162.0,6171.0,5476.5,705.0,1377.5,250.0,37.5,...,0.4140,0.7395,102.5,2269.5,118.5,78.0,22.0,49.0,25.0,1135.0
TEX,50.5,27.85,4.740,162.0,6142.5,5441.5,768.0,1317.0,260.5,22.5,...,0.4170,0.7360,89.5,2269.0,107.0,84.5,30.0,36.5,17.0,1054.0
TOR,61.5,29.90,4.330,162.0,6115.0,5488.0,701.0,1328.0,294.5,10.5,...,0.4195,0.7315,97.5,2302.0,135.5,54.5,15.0,36.0,13.5,1050.0
WSN,51.0,28.40,4.910,162.0,6251.0,5535.0,795.0,1439.5,297.5,28.0,...,0.4340,0.7675,98.5,2402.0,110.0,45.0,42.0,42.5,56.0,1140.5