# DSC 80: Lab 03

### Due Date: Tuesday April 21st, Midnight - 11:59 PM

## Zoom Lab Hours
- Follow instructions on this link: https://docs.google.com/document/d/16qZpPSYhxwQDMcn-lGQjC-J-PzppLevv_mANLt2ko8g/edit

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab**.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab**.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import lab03 as lab

In [3]:
import os
import pandas as pd
import numpy as np

---

# Hypothetically speaking...

In this section we'll develop an intuition for the terms and structure of hypothesis testing -- it's nothing to be afraid of!

The first step is always to define what you're looking at, create your hypotheses, and set a level of significance.  Once you've done that, you can find a p-value which is related to your test statistic.

If all of these words are scary: look at the lecture notebook, the textbook references, and don't forget to think about the real-world meaning of these terms!  The following example describes a real-world scenario, so you can think of it in a normal lens.

**Question 1: Faulty tires**

A tire manufacturer tests whether a set of tires meets the company's performance standards by checking:

> In 60 out of 100 tests, if a Honda CRV can come to a complete stop from 60 mph in fewer than 108 feet.

That is, 60% of the time, the stopping distance of the car should be above average for the car (outfitted with generic tires). The factory is wondering if a current run of tires is up to standard, so they choose a random set of tires from the production line to test their performance, and bring the car to a complete stop from 60 mph a total of 100 times. Then they ask:

> Are these tires faulty? Or are they safe?

Which of the following are valid null hypotheses that address the question we are trying to answer, using the data we are given?  Which are valid alternative hypotheses?

Outfitted with that set of tires, the car:
1. has a 60 mph stopping distance under 108 feet, at least 60% of the time.
1. has a 60 mph stopping distance under 108 feet, at most 60% of the time.
1. has a 60 mph stopping distance under 108 feet, equal to 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, at least 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, at most 60% of the time.
1. has at least as short stopping distance to the same car with generic tires, roughly 60% of the time.
1. is as safe as the car with generic tires.
1. causes the car to stop in a shorter distance.


Write a function `car_null_hypoth` which takes zero arguments and returns a list of the valid null hypotheses.  
Write a function `car_alt_hypoth` which takes zero arguments and returns a list of the valid alternative hypotheses.

In [4]:
null = 3
alt = 1

Which of the following are valid test statistics for our question?

1. The average number of feet the car took to come to a complete stop in 100 attempts.
1. The number of times the car stopped in under 108 feet in 100 attempts.
1. The number of attempts it took before the car stopped in under 108 feet.
1. The proportion of attempts the car successfully stopped in under 108 feet.

Write a function `car_test_stat` which takes zero arguments and returns a list of valid test statistics.

In [5]:
[2,4]

[2, 4]

The p-value is calculated as how likely it is to find something as extreme or more extreme than our observed test statistic.  To do this, we assume the null hypothesis is true, and then define "extremeness" based on the alternative hypothesis.

Why don't we just look at the probability of finding our observed test statistic?

1. Because our observed test statistic isn't extreme.
2. Because the probability of finding our observed test statistic equals the probability of finding something more extreme.
3. Because the probability of finding our observed test statistic is essentially zero.
4. Because our null hypothesis isn't suggesting equality.
5. Because our alternative hypothesis isn't suggesting equality.

Write a function `car_p_value` which takes zero arguments and returns the correct reason.

In [6]:
2

2

# Grouping: Google Play Store

The questions below analyze a dataset of Google Play Store apps. The dataset has been preprocessed slightly for your convenience.

Columns:
* `App`: App Name
* `Category`: App Category
* `Rating`: Average App Rating
* `Reviews`: Number of Reviews
* `Size`: Size of App
* `Installs`: Binned Number of Installs
* `Type`: Paid or Free
* `Price`: Price of App
* `Content Rating`: Age group the app is targeted at
* `Last Updated`: Last Updated Date


Link: https://www.kaggle.com/lava18/google-play-store-apps

**Question 2**

First, we'd like to do some basic cleaning to this dataset to better analyze it.
In the function `clean_apps`, which takes the Play Store dataset as input, clean as follows and return the cleaned df:
* Keep `Reviews` as type int.
* Strip all letters from the ends of `Size`, convert all units to unit kilobyte, and convert the column to type float (Hint: all Sizes end in either M (megabyte) or k (kilobyte); a helper function may be useful here).
* Strip the '+' from the ends of `Installs`, remove the commas, and convert it to type int.
* Since `Type` is binary, change all the 'Free's to 1 and the 'Paid's to 0.
* Strip dollar mark in `Price` and convert it to correct numeric data type.
* Strip all but the year (e.g. 2018) from `Last Updated` and convert it to type int.

Please return a *copy* of the original dataframe; don't alter the original.

In [31]:
play_fp = os.path.join('data', 'googleplaystore.csv')
play = pd.read_csv(play_fp)
play

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,"June 20, 2018"
...,...,...,...,...,...,...,...,...,...,...
9140,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,"September 29, 2016"
9141,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,"July 25, 2017"
9142,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,"July 6, 2018"
9143,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,"January 20, 2017"
9144,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,"July 25, 2018"

In [33]:

play['Price'] = play['Price'].replace({'0':3})
play

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,3,Everyone,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,3,Everyone,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,3,Everyone,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,3,Teen,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,3,Everyone,"June 20, 2018"
...,...,...,...,...,...,...,...,...,...,...
9140,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,3,Everyone,"September 29, 2016"
9141,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,3,Everyone,"July 25, 2017"
9142,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,3,Everyone,"July 6, 2018"
9143,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,3,Everyone,"January 20, 2017"
9144,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,3,Everyone,"July 25, 2018"

In [10]:
def Round(flo):
    print(type)
    a = round(flo)
    return a

In [212]:
lab.store_info(cleaned)

[2013, 'Adults only 18+', 'FINANCE', 'FAMILY']

In [35]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue','hi'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR','ad']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [44]:
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
4       hi           ad

**Question 2 (Continued)**

Now, we can do some basic exploration.

In the function `store_info`, find the following using the **cleaned** dataframe:
* Find the year with the highest median `Installs`, among all years with at least 100 apps.
* Find the `Content Rating` with the highest minimum `Rating`.
* Find the `Category` has the highest average price.
* Find the `Category` with lowest average rating, among apps that have at least 1000 reviews.

and return these values in a list.

*Remark:* Note that the last question is asking you to compute the *average of averages* (the 'Rating' column contains the average rating of an app) -- such analyses are prone to occurrences of Simpson's Paradox. Considering apps with at least 1000 reviews helps limit the effect of such [ecological fallacies](https://afraenkel.github.io/practical-data-science/05/understanding-aggregations.html#reversing-aggregations-ecological-fallacies).
* You can assume there is no ties.

In [11]:
rate = play.groupby('Category').count()['Reviews']
rate = rate[rate>=1000].index
rec = float('inf')
result = ''
for i in rate:
    med = play[play['Category']==i]['Rating'].mean()
    if rec>med:
        rec=med
        result = i
[4,result]

[4, 'FAMILY']

In [12]:
rate = play.groupby('Category').count().index
rec = -float('inf')
result = ''
for i in rate:
    med = play[play['Category']==i]['Price'].mean()
    if rec<med:
        rec=med
        result = i
[3,result]

[3, 'FINANCE']

In [13]:
rate = play.groupby('Content Rating').count().index
rec = -float('inf')
result = ''
for i in rate:
    med = play[play['Content Rating']==i]['Rating'].min()
    if rec<med:
        rec=med
        result = i
[2,result]

[2, 'Adults only 18+']

In [14]:
year = play.groupby('Last Updated').count()['App']
year = year[year>=100]
year_list = year.index.tolist()
rec = -float('inf')
result = ''
for i in year_list:
    med = play[play['Last Updated']==i]['Rating'].median()
    if rec<med:
        rec=med
        result = i
[1,result]

[1, 2013]

### Transforming Apps review count by App category

A reasonable question that we may ask after cleaning the apps dataset is that how popular each app is. One way of measuring popularity of apps is by studying its review count within their respective category. 

**Question 3**
* Create a function `std_reviews_by_app_cat` that takes in a **cleaned** dataframe and outputs a dataframe with 
    - the same rows as the input,
    - two columns given by `['Category', 'Reviews']`,
    - where the `Reviews` columns are *standardized by app category* -- that is, the number of reviews for every app is put into the standard units for the category it belongs to. For a review of standard units, see the [DSC 10 Textbook](https://www.inferentialthinking.com/chapters/15/1/Correlation)
    - *Hint*: use the methoc `groupby` and `transform`.
* Lastly, create a function `su_and_spread` that returns a list of two items (hard-code your answers):
    - Consider the following scenario: half of the apps in the category 'FAMILY' receives ratings of 0 stars while the other
    half has rating of 5 stars. Similarly, the ‘MEDICAL' category has half 1-star and half 4-star apps.
    Which app would have a higher rating after standarization? The five stars in the family category or the four stars in the
    medical one. Answer with the name of the corresponding category ('FAMILY'/'MEDICAL') or use 'equal' if you think both
    rating would be the same after standarization. (Don't worry about the uppercase but do be careful with the spelling). 
    - Which category type has the biggest "spread" of review count?

In [15]:
play_fp = os.path.join('data', 'googleplaystore.csv')
play = pd.read_csv(play_fp)
cleaned = lab.clean_apps(play)
def standard_units(any_numbers,lst):
    a = (any_numbers - np.mean(lst))/np.std(lst)
    return a

In [16]:
copy = cleaned.copy()[['Category', 'Reviews']]
copy

            Category  Reviews
0     ART_AND_DESIGN      159
1     ART_AND_DESIGN      967
2     ART_AND_DESIGN    87510
3     ART_AND_DESIGN   215644
4     ART_AND_DESIGN      967
...              ...      ...
9140        BUSINESS        0
9141          FAMILY       38
9142          FAMILY        4
9143         MEDICAL        3
9144       LIFESTYLE   398307

[9145 rows x 2 columns]

In [18]:
year = copy.groupby('Category').count().index
for i in year:
    copy[copy['Category']==i]['Reviews'].apply(standard_units,args=(copy[copy['Category']==i]['Reviews'],))
    
mean =  copy.groupby('Category').mean()['Reviews']
std = copy.groupby('Category').std()['Reviews']

### Facebook Friends

**Question 4**

A group of students decided to send out a survey to their Facebook friends. Each student asks 1000 of their friends for their first and last name, the company they currently work at, their job title, their email, and the university they attended. Combine all the data contained in the files `survey*.csv` (within the `responses` folder within the data folder) into a single dataframe. The number of files and the number of rows in each file may vary, so don't hardcode your answers!

Create a function `read_survey` which takes in a directory path (containing files `survey*.csv`), and outputs a dataframe with six columns titled: `first name`, `last name`, `current company`, `job title`, `email`, `university` (in that order). 

*Hint*: You can list the files in a directory using `os.listdir`.

*Remark: You may have to do some cleaning to make this possible!*

Create a function `com_stats` that takes in in a dataframe and returns a list containing: the most common first name, job held, university attended, and current company (in that order) for people with emails that end in ".com". If there are ties for the most common value, give the value with the "largest size" (as defined by the python string ordering).

In [92]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [5, np.nan, np.nan, 6],
                   [np.nan, 4, np.nan, 5]],
                 columns=list('PQRS'))
df.fillna(0)

     P    Q    R  S
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  5.0  0.0  0.0  6
3  0.0  4.0  0.0  5

In [108]:
dirname = os.path.join('data', 'responses')
lab.read_survey(dirname)

,first name,last name,current company,job title,email,university
0,Marsh,Kyllford,"Abernathy, Brown and Stiedemann",Financial Analyst,mkyllford0@naver.com,Ganja State University
1,Igor,Greatex,"Stiedemann, Eichmann and Will",Data Coordiator,igreatex1@phpbb.com,Meikai University
2,Garrick,Truscott,Collins-Hintz,Tax Accountant,gtruscott2@weather.com,Saint Paul University
3,Eleanore,Sansam,Trantow and Sons,Senior Quality Engineer,esansam3@pbs.org,Universidad del Rosario
4,Laurent,Bagley,Weissnat and Sons,Financial Advisor,lbagley4@statcounter.com,St. Petersburg StateMechnikov Medical Academy
...,...,...,...,...,...,...
4995,Hurleigh,Sphinxe,Kozey-Hamill,Marketing Manager,hsphinxern@eventbrite.com,Southampton Solent University
4996,Michele,Finch,Ernser and Sons,Account Coordinator,mfinchro@jigsy.com,Glion Institute of Higher Education
4997,Harlie,Heister,Schuppe-McClure,Technical Writer,hheisterrp@last.fm,Tianjin University of Finance & Economics
4998,Phillipe,Dibble,"Barrows, Batz and Dickens",Analog Circuit Design manager,pdibblerq@jugem.jp,University of South Bohemia
4999,Vivyanne,Scothern,Purdy Inc,Community Outreach Specialist,vscothernrr@amazon.de,Universidad Michoacana de San Nicolás de Hidalgo

In [131]:

df = lab.read_survey(dirname)
df['email'] = df['email'].fillna('a')
df[df['email']!=df['email']]

Empty DataFrame
Columns: [first name, last name, current company, job title, email, university]
Index: []

In [132]:

copy = df[df['email']==df['email']].copy()
copy['ids'] = copy['email'].apply(lambda x: x[-4:]=='.com')
copy = copy[copy['ids']]
first_name = copy['first name'].value_counts().index[0]
job_held = copy['job title'].value_counts().index[0]
university_attend = copy['university'].value_counts().index[0]
current_company = copy['current company'].value_counts().index[0]
[first_name,job_held,university_attend,current_company]

['Freddy', 'VP Marketing', 'Southwest University', 'Kuhn and Sons']

In [53]:
first = []
last = []
company = []
job = []
email = []
university = []
for i in os.listdir(dirname):
    df = pd.read_csv(dirname + '/' + i)
    columns = df.columns
    first += df[columns[0]].tolist()
    last += df[columns[1]].tolist()
    company +=df[columns[4]].tolist()
    job+=df[columns[2]].tolist()
    university += df[columns[5]].tolist()
    email +=df[columns[3]].tolist()
result = pd.DataFrame({'first name':first,'last name':last,'current company':company,'job title':job,'email':email,'university':university})
result

IndexError: index 4 is out of bounds for axis 0 with size 2

### Combining Data
**Question 5**

Every week, a professor sends out an extra credit survey asking for students' favorite things (animals, movies, etc). 
- Each student who has completed at least 75% of the surveys receives 5 points of extra credit.
- If at least 90% of the class answers at least one of the questions (ex. favorite animal), *everyone* in the class receives 1 point of extra credit. This overall class extra credit only applies once (ex. If 95% of students answer favorite color and 91% answer favorite animal, the entire class still only receives 1 extra point as a class).

Create a function `combine_surveys` which takes in a directory path (containing files `favorite*.csv`) and combines all of the survey data into one DataFrame, indexed by student ID (a value 1 - 1000).

Create a function `check_credit` which takes in a DataFrame with the combined survey data and outputs a DataFrame of the names of students and how many extra credit points they would receive, indexed by their ID (a value 1-1000)

In [148]:
dirname = os.path.join('data', 'extra-credit-surveys')
df = lab.combine_surveys(dirname)
df.head()

,name,movie,genre,animal,plant,color
1,Myrtia,NaN,(no genres listed),Long-crested hawk eagle,NaN,Red
2,Nathanil,NaN,Documentary,Euro wallaby,NaN,Khaki
3,Joni,"Glass-blower's Children, The (Glasblåsarns barn)",NaN,Brown brocket,NaN,Red
4,Prentice,NaN,(no genres listed),"Peccary, white-lipped",NaN,Yellow
5,Claudette,NaN,NaN,"Capuchin, brown",NaN,Fuscia

In [158]:
column = df.columns
checker = False
for i in column:
    if i!= column[0]:
        if (df[i].count()/len(df[i]))>=0.9:
            check= True

In [169]:
lis = (df.count(axis='columns')-1)/(len(column)-1)
def change(a):
    if a<0.75:
        return 0
    else:
        return 5
result = lis.apply(change)
if checker:
    result+=1
result
name = df[column[0]]
frame = { 'name': name, 'extra credit': result } 
  
table = pd.DataFrame(frame)

In [170]:
table

           name  extra credit
1        Myrtia             0
2      Nathanil             0
3          Joni             0
4      Prentice             0
5     Claudette             0
...         ...           ...
996       Addie             5
997     Valaria             0
998     Gunilla             0
999     Zitella             0
1000     Jammal             5

[1000 rows x 2 columns]

### Joining pets and owners

**Question 6**

You are analyzing data from a veterinarian clinic. The datasets contain several types of information from the clinic, including its customers (pet owners), pets, and available procedures and history. The column names are self-explanatory. These dataframes are provided to you:
-  `owners` stores the customer information, where every `OwnerID` is unique (verify yourself).
-  `pets` stores the pet information. Each pet belongs to a customer in `owners`.
-  `procedure_detail` contains a catalog of procedures that are offered by the clinic.
-  `procedure_history` has procedure records. Each procedure is given to a pet in `pets`.

You want to answer the following questions:

1. How many pets in the dataset have had at least one procedure? Note that some pets are registered but haven't had any procedure performed. Create a function `at_least_once` that takes in `pets`, `procedure_history` and returns the number of pets as an integer.

2. What is the name of each customer's pet(s)? Create a function `pet_name_by_owner` that takes in `owners`, `pets` and returns a Series that holds the pet name (as a string) indexed by owner's (first) name. If an owner has multiple pets, the corresponding value should be a list of names as strings.

3. How much does each customer spend in total on procedures? Create a function `total_cost_per_owner` that returns a Series that contains the sum of money that an owner has spent on their pets' procedures, indexed by `OwnerID`. Hint: think of what makes a procedure unique in the context of this dataset.

In [171]:
owners_fp = os.path.join('data', 'pets', 'Owners.csv')
pets_fp = os.path.join('data', 'pets', 'Pets.csv')
procedure_detail_fp = os.path.join('data', 'pets', 'ProceduresDetails.csv')
procedure_history_fp = os.path.join('data', 'pets', 'ProceduresHistory.csv')

In [172]:
owners = pd.read_csv(owners_fp)
pets = pd.read_csv(pets_fp)
procedure_detail = pd.read_csv(procedure_detail_fp)
procedure_history = pd.read_csv(procedure_history_fp)

In [206]:
lab.pet_name_by_owner(owners, pets)

Benjamin            [Danger, Collette]
Lee              [Bright, Angel, Jake]
Charles     [Roomba, Cookie, Ebenezer]
Robert                 [Bandit, Simba]
Mario                    [Pip, Dexter]
                       ...
Robert                             Taz
William                         Bandit
Carmen                         Maripol
Steven                           Rumba
Marie                             Dior
Length: 89, dtype: object

In [204]:
merged = pd.merge(pets,owners,on='OwnerID')
two_or_more

Int64Index([1070, 1132, 1202, 1306, 1312, 1319, 1334, 1546, 1653, 1766, 1899,
            1915, 2063, 2103, 2419, 2700, 2722, 2755, 2809, 2863, 2967, 3034,
            3086, 3089, 3245, 3518, 3615, 3644, 3661, 3663, 3691, 4110, 4185,
            4378, 4408, 4464, 4793, 4989, 5168, 5207, 5215, 5447, 5502, 5508,
            5737, 5796, 5806, 5833, 6049, 6102, 6157, 6194, 6405, 6406, 6731,
            6923, 7023, 7085, 7101, 7219, 7261, 7340, 7343, 7359, 7393, 7484,
            7579, 7581, 7606, 7663, 7772, 7846, 7908, 8133, 8143, 8215, 8316,
            8619, 8830, 9037, 9039, 9365, 9385, 9427, 9604, 9614, 9828, 9850,
            9900],
           dtype='int64', name='OwnerID')

In [197]:
pets[pets['OwnerID']==5508]

      PetID      Name Kind  Gender  Age  OwnerID
1   Q0-2001    Roomba  Cat    male    9     5508
17  F6-5391    Cookie  Cat  female    9     5508
51  U0-5987  Ebenezer  Cat    male    0     5508

In [ ]:
lab.pet_name_by_owner(owners, pets)

## Congratulations! You're done!

* Submit the lab on Gradescope